@import "reset";
@import "variables/";
@import "colors/";

.app {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    font-family: Inter, sans-serif;
    color: var(--dark-100);
    background: var(--background-color);
    height: 100vh;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--icon-redesigned);
    border-radius: 20px;
    border: 1px solid var(--accent-redesigned);
}

.app *::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

.app *::-webkit-scrollbar-track {
    background: var(--card-bg);
}

.app *::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}