.wrapper {
  background-color: transparent;
}

.column {
  gap: 20px;
}

.content {
  position: relative;
  padding: 32px 24px;
  margin-bottom: 24px;
}

.link {
  position: absolute;
  top: 28px;
  right: 24px;
}

.button {
  padding: 8px;
}

.openBtn {
  min-width: 170px;
}
