.MainLayout {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
  background: var(--white-100);
  position: relative;
  height: var(--header-height);
  z-index: 3;
}

.sidebar {
  position: relative;
  grid-row: 2 / 4;
  background: var(--white-100);
  width: calc(var(--nav-bar-width) - var(--border-width));
  border-right: var(--border-width) solid var(--dark-20);
  height: 100%;
  overflow: auto;
  box-sizing: content-box;

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-20);
  }

  @media (max-width: 1280px) {
    display: none;
  }
}

.scrollingContainer {
  height: 100%;
  overflow: auto;
  grid-column: 2;
  grid-row: 2;
}

.content {
  position: relative;
  padding: 40px 32px;
  overflow: auto;
  min-height: calc(100% - var(--footer-height));
  z-index: 2;

  @media (max-width: 1280px) {
    padding: 16px;
  }

  @media (max-width: 980px) {
    padding: 16px 8px;
  }
}

.footer {
  grid-row: 3;
  grid-column: 2;
  position: relative;
  background-color: var(--dark-20);

  @media (max-width: 1280px) {
    display: none;
  }
}

.popup {
  position: fixed;
  background-color: var(--white-100);
  border: var(--border-width) solid var(--dark-20);
  border-top: none;
  border-radius: 0 0 var(--radius-md) var(--radius-md);
  right: 0;
  top: var(--header-height);
  z-index: 10;
  transition: all var(--animation-duration) ease;
  max-height: 100%;
  overflow: auto;
}

.burgerMenu {
  display: none;

  @media (max-width: 1280px) {
    display: flex;
  }
}

.userMenu {
  display: flex;

  @media (max-width: 1280px) {
    display: none;
  }
}

.hidePopup {
  transform: translateY(calc(-100% - var(--header-height)));
}

.hide {
  display: none;
}
