:root {
    --radius-xl: 32px;
    --radius-lg: 24px;
    --radius-md: 16px;
    --radius-sm: 8px;
    --radius-xs: 4px;

    --animation-duration: 250ms;

    --nav_bar-width: 248px;
    --header-height: 80px;

    --border-width: 1px;
}