.wrapper {
  display: flex;
  height: auto;
  aspect-ratio: 471 / 160;
  border-radius: var(--radius-lg);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  object-fit: cover;
  border-radius: var(--radius-lg);
  width: 100%;
  transition: all calc(var(--animation-duration)) ease;

  &:hover {
    transform: scale(101%);
  }
}
