.wrapper {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  gap: 20px;
}

.column {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--dark-100);
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  width: 280px;
  color: var(--dark-70);

  path {
    fill: var(--dark-70);
  }
}
