.wrapper {
  display: flex;
  flex-direction: column;
}

.videoWrapper {
  padding: 12px 12px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  height: 64px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.controls {
  z-index: 3;
}
