.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 48px 32px 24px;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.divider {
  width: 100%;
  border-color: var(--light-color);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  margin-top: 20px;
  color: var(--primary-100);
}

.contacts {
  display: flex;
  gap: 8px;
}

.phone {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  flex-shrink: 0;

  path {
    fill: var(--primary-100);
  }
}

.socials {
  display: flex;
  gap: 12px;
}

.button {
  padding: 4px 26px;
}
