.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-sm);
  border: none;
  padding: 10px 16px;
}
.primary {
  background-color: var(--primary-100);
  color: var(--light-color);
}

.secondary {
  background-color: var(--primary-10);
  color: var(--primary-100);
}

.danger {
  background-color: var(--red-10);
  color: var(--red-100);
}

.large {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.small {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}