.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-sm);
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  transition: all var(--animation-duration) ease;
}
.primary {
  background-color: var(--primary-100);
  color: var(--light-color);

  &:active {
    background-color: var(--primary-dark);
  }

  &:disabled {
    background-color: var(--gray-50);
  }
}

.secondary {
  background-color: var(--primary-10);
  color: var(--primary-100);

  &:active {
    background-color: var(--primary-20);
  }

  &:disabled {
    background-color: var(--gray-30);
    color: var(--gray-50);
  }
}

.danger {
  background-color: var(--red-10);
  color: var(--red-100);
}

.large {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.small {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}