.cards__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loader {
  z-index: 10;
  position: fixed;
  height: 260px !important;
  width: calc(100vw - 248px);
  right: 0;
  bottom: 0;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  width: 240px;
  height: 40px;
  border-radius: var(--radius-sm);
  background-color: var(--white-100);
  border: var(--border-width) solid var(--dark-20);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 14px;
  color: var(--dark-80);

  &__wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.dataPicker {
  position: absolute;
  z-index: 1;
  background: var(--white-100);
  box-shadow: var(--shadow-2);
  top: 44px;
  left: 0;
  user-select: none;
  border-radius: var(--radius-sm);
}
