.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;

  form {
    width: 100%;
  }
}

.row {
  display: flex;
  width: 100%;
  gap: 24px;
  z-index: 4;

  form {
    width: 100%;
  }
}

.editor {
  width: 100%;
}

.title {
  margin: 32px 0 -4px;
}
