.wrapper {
  position: relative;
  gap: 32px;
  padding: 32px 24px;
  margin-bottom: 32px;
}

.smallContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 470px;
}
