.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;

  @media (max-width: 1620px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 980px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 740px) {
    grid-template-columns: 1fr;
  }
}

.loader {
  height: 290px !important;
  min-height: unset;
}
