.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 4;
}

.element {
  display: flex;
  align-items: center;
  gap: 12px;
}

.add {
  width: fit-content;
  color: var(--primary-100);

  path {
    fill: var(--primary-100);
  }

  &:disabled {
    pointer-events: none;
  }
}

.title {
  margin: 32px 0 -4px;
}
