.wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: var(--border-width) solid var(--dark-20);
  padding: 24px 0 16px;
  gap: 11px;
}

.button {
  padding: 2.5px;

  path {
    fill: var(--dark-100);
  }

  &:hover {
    background-color: var(--dark-20) !important;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.text {
  height: 0;
  overflow: hidden;
}

.show {
  height: unset;
}

.icon {
  border-radius: var(--radius-sm);
  background-color: transparent;
}
