.wrapper {
  display: flex;
  background-color: var(--dark-20);
  margin-top: 4px;
  padding: 24px 40px;
  gap: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date {
  color: var(--dark-60);
}
