.wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  outline: none;
  border: none;

  &::placeholder{
    color: var(--dark-50);
  }

  &.error {
    border-color: var(--red-100);
  }

}

.error {
  color:  var(--red-100);

  &::placeholder{
    color: var(--red-10);
  }
}

.border {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;
  border: var(--border-width) solid var(--dark-20);
  border-radius: var(--radius-sm);
  background-color: var(--white-100);
  overflow: hidden;
}