.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.logo {
  margin-bottom: 16px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  color: var(--primary-100);
}

.right {
  margin-left: auto;
  margin-bottom: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.resend {
  justify-content: flex-start;
}
