:root {
  --primary-dark-rgb: 59, 48, 37; // Pressed
  --primary-semi-dark-rgb: 92, 76, 58; // Hover
  --primary-100-rgb: 133, 109, 85;
  --primary-70-rgb: 180, 152, 94;
  --primary-60-rgb: 190, 166, 116;
  --primary-50-rgb: 165, 144, 123;
  --primary-30-rgb: 170, 153, 136;
  --primary-20-rgb: 231, 226, 221;
  --primary-10-rgb: 245, 240, 235;
  --primary-dark: rgb(var(--primary-dark-rgb));
  --primary-semi-dark: rgb(var(--primary-semi-dark-rgb));
  --primary-100: rgb(var(--primary-100-rgb));
  --primary-70: rgb(var(--primary-70-rgb));
  --primary-60: rgb(var(--primary-60-rgb));
  --primary-50: rgb(var(--primary-50-rgb));
  --primary-30: rgb(var(--primary-30-rgb));
  --primary-20: rgb(var(--primary-20-rgb));
  --primary-10: rgb(var(--primary-10-rgb));
}
