:root {
  --red-100-rgb: 178, 79, 71;
  --red-30-rgb: 224, 185, 181; // pressed
  --red-20-rgb: 235, 211, 209; // hover
  --red-10-rgb: 248, 238, 237;
  --red-100: rgb(var(--red-100-rgb));
  --red-30: rgb(var(--red-30-rgb));
  --red-20: rgb(var(--red-20-rgb));
  --red-10: rgb(var(--red-10-rgb));
}
