.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dark {
  color: var(--dark-70);
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  background-color: var(--dark-100);
}
