.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textField {
  width: 100%;
}

.downloadButton {
  width: fit-content;
}

.submitBlock {
  display: flex;
  gap: 24px;
}

.card {
  padding: 32px 24px;
}