:root {
  --blue-100-rgb: 52, 96, 112;
  --blue-20-rgb: 222, 228, 248;
  --blue-10-rgb: 235, 240, 241;
  --blue-100: rgb(var(--blue-100-rgb));
  --blue-20: rgb(var(--blue-20-rgb));
  --blue-10: rgb(var(--blue-10-rgb));
}
