.wrapper {
  gap: 0;
}

.card {
  margin: 0 -32px;
  padding: 32px;

  @media (max-width: 1280px) {
    padding: 16px;
    margin: 0 -16px;
  }

  @media (max-width: 980px) {
    padding: 8px;
    margin: 0;
  }
}

.transparent {
  background-color: transparent;
}

.main__wrapper {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 60% 40%;

  @media (max-width: 980px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-template-columns: unset;
  }
}

.left {
  padding-right: 20px;

  &__inner div {
    max-width: unset;
  }

  @media (max-width: 980px) {
    padding: 0;
  }
}

.right {
  padding-left: 20px;
  border-left: 1px solid var(--gray-30);

  &__inner div {
    & main p:last-child {
      display: none;
    }
  }

  @media (max-width: 980px) {
    padding: 0;

    &__inner div {
      max-width: unset;
    }
  }
}

.block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  &__text {
    color: var(--dark-60);
    font-weight: 500;
    font-size: 14;
    margin-right: 12px;
  }
}

.textContent {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--dark-50);
}

.modal__inner {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 55vw;
  min-width: 300px;
}

.modal__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text {
  margin-top: 8px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-100);
}

.htmlContent {
  h2,
  h3 {
    font-weight: 600;
  }

  img {
    max-width: 100%;
    border-radius: var(--radius-sm);
  }

  ul {
    padding-left: 1.5em;
  }
}
