.card__wrapper {
  max-width: 640px;
  width: 100%;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: calc(138px - 2 * var(--border-width));
  width: calc(100% - 2 * var(--border-width));
  gap: 4px;
  margin: var(--border-width);

  &:hover {
    margin: 0;
    width: 100%;
    min-height: 138px;
    border: var(--border-width) solid var(--dark-20);
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--dark-80);
}

.text {
  max-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px;
}

.textContent {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--dark-50);
}

.image {
  position: absolute;
  top: 10px;
  right: 10px;
}
