.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 18px;
}

.title {
  margin-top: -12px;
}

.dark {
  color: var(--dark-70);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.element {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.badge {
  padding: 6px 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
