.card {
  padding: 40px;
  gap: 16px;
  max-width: 1280px;
  border-radius: var(--radius-xl);

  @media (width < 1280px) {
    padding: 16px;
    gap: 8px;
  }

  @media (width < 980px) {
    padding: 16px 8px;
  }
}

.htmlContent {
  h2,
  h3 {
    font-weight: 600;
  }

  img {
    max-width: 100%;
    border-radius: var(--radius-sm);
  }

  ul {
    padding-left: 1.5em;
  }
}
