.card {
  padding: 40px;
  gap: 16px;

  @media (width < 1280px) {
    padding: 16px;
    gap: 8px;
  }

  @media (width < 980px) {
    padding: 16px 8px;
  }
}

.htmlContent {
  img {
    max-width: 100%;
    border-radius: var(--radius-sm);
  }

  ul {
    padding-left: 1.5em;
  }
}
