.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input {
  margin-left: auto;
  max-width: 283px;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 16px;
  margin-bottom: 10px;
}

.card {
  padding: 0;
  margin-bottom: 32px;
}

.filters__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filters__inner {
  display: flex;
}

.address {
  form {
    width: calc((100% - 16px * 3) / 4);
    text-wrap: nowrap;
  }
}

.total {
  margin-bottom: 8px;
}
