.wrapper {
  height: 156px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.dark {
  color: var(--dark-50);
}

.deadline {
  margin-top: auto;
  display: flex;
  width: 100%;
}
