.text {
  display: flex;
  flex-direction: column;
  height: 120px;
  gap: 4px;
  margin-top: 12px;

  @media (max-width: 640px) {
    height: fit-content;
  }
}

.imageWrapper {
  display: flex;
  position: relative;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: var(--radius-md);
  overflow: hidden;

  @media (max-width: 640px) {
    width: 100px;
    height: 100px;
  }
}

.image {
  object-fit: cover;
  border-radius: var(--radius-md);
  width: 100%;
}

.timeStamp {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  font-weight: 400;
}

.title {
  max-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--dark-80);
}

.textContent {
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--dark-50);
}
